body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 16px 20px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.loading {
    font-size: 1.5em;
    color: #009879;
}








/*------------------- for Creating News ---------------------*/
.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px
        rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 800px;
}

.main h2 {
    color: #4caf50;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}